# API Configuration
USE_MOCK=True

# KBank API Credentials
KBANK_CLIENT_ID=your_client_id_here
KBANK_CLIENT_SECRET=your_client_secret_here
KBANK_API_URL=https://openapi-sandbox.kasikornbank.com

# Line Configuration
LINE_CHANNEL_SECRET=your_channel_secret
LINE_CHANNEL_ACCESS_TOKEN=your_access_token
